body, html {
  background-color: #DFDFFE;
  overflow: hidden;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
}

.clear-button-style {
  border: none;
  background-color: transparent;
}