body, html {
  background-color: #DFDFFE;
  overflow: hidden;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
}

.clear-button-style {
  border: none;
  background-color: transparent;
}

.blackground{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 101;

}