header #header-logo {
	width: 15%;
	display: inline-block;
	align-self: center;
}

header {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
	padding: 3% 5% ;
}

.login-button {
	align-self: center;
	color: white;
	background-color: #FF009C;
	font-family: "Gilroy";
	border: none;
	border-radius: 6px;
	padding: 8px 15px;
	font-size: 18px;
	/* position: absolute;
	right: 5%;
	top: 2%; */
}
.account-info {
	width: 40%;
	/* position: absolute;
	left: 30%;
	top: 1.5%; */
}

.account-info span {
	font-family: "Lato-bold";
	line-height: 140%;
	display: block;
	text-align: center;

}