#markets-view {
	width: 100vw;
	height: 80vh;
	display: block;
	margin: 0 auto;
}

/* Nav dots */
.dots-ul {
	position: relative;
	display: flex;
	margin: 0 auto ;
	padding: 0;
	list-style: none;
	cursor: default;
	justify-content: space-around;
	max-width: 120px;
}

.dots-ul li {
	position: relative;
	width: 8px;
	height: 8px;
	cursor: pointer;
}

.dots-ul li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 0, 156, 0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

.dots-ul li a {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots-ulli a:hover,
.dots-ul li a:focus {
	background-color: #FF009C;
}

.dots-ul .carousel__dot--selected li  a {
	background-color: #FF009C;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}